@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark;
 }

*{
    font-family: "Inter", sans-serif;
}



@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:#0ea2e6 ;
  --color-secondary:#1d3b8b;
  --color-base-100: #F8FAFC;
  --color-base-200: #FFFFFF;
  --color-base-300:#020817;
  --color-base-content:#64748b;
  --color-mainborder:#e2e8f0;
  --color-border-outline:#94a3b880;
  --color-navlink:#0a1126;
  --color-heading:#0a1126;
  --color-subHeading:#e4e7f1;
  --color-boxbg:#FFFFFF


}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary:#0ea2e6 ;
  --color-secondary:#1d3b8b;
  --color-base-100:#0f172a;
  --color-base-200:#0a112640;
  --color-base-300:#ffffff;
  --color-base-content:#94a3b8;
  --color-mainborder:#94a3b810;
  --color-border-outline:#1d3b8b;
  --color-navlink:#fafafa;
  --color-heading:#fafafa;
  --color-subHeading:#16295a;
  --color-boxbg:#0a1126;

}

@theme{
    --color-mainborder:#e2e8f0;
    --color-border-outline:#94a3b880;
    --color-navlink:#0a1126;
    --color-heading:#0a1126;
    --color-subHeading:#e4e7f1;
    --color-boxbg:#FFFFFF

}


/* loading spiner animation css  */
@layer utilities {
  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }

  .animate-pulse-gentle {
    animation: pulse-gentle 3s ease-in-out infinite;
}
}
@keyframes bounce-gentle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

@keyframes pulse-gentle {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.05);
  }
}
